@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background: linear-gradient(to right, #fce8d4, #fbbf83, #fbcfe8);
    background-size: cover;
    height: 100vh;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}