@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background: linear-gradient(to right, #a8d08d, #74b72e, #ffeb99);



    background-size: cover;
    height: 100vh;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}